<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Coach Navbar</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-success shadow px-4">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/coach/home}">
            <i class="bi bi-incognito"></i>
            <span class="fs-4 fw-semibold ms-2">SquadMate</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#coachNavbarNav" aria-controls="coachNavbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="coachNavbarNav">
            <ul class="navbar-nav me-auto ms-3">
                <li class="nav-item">
                    <a class="btn btn-outline-light fw-semibold nav-link-coach" href="/coach/teamManager">Team Manager</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="btn btn-outline-light fw-semibold nav-link-coach" href="/coach/addPlayer">Add Player</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="btn btn-outline-light fw-semibold nav-link-coach" href="/coach/fixtures">Fixtures</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="btn btn-outline-light fw-semibold nav-link-coach" href="/coach/addFixture">Add fixture</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle text-white fw-semibold"
                       href="#"
                       id="coachUserDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Hi, <span sec:authentication="name"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="coachUserDropdown">
                        <li>
                            <form th:action="@{/logout}" method="post" class="dropdown-item p-0">
                                <button type="submit" class="btn btn-link dropdown-item text-danger px-3 py-2">
                                    Logout
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
