<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coach Navbar</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
</head>
<body>
<div th:fragment="coach-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <i class="bi bi-football me-2"></i>
            <span class="fs-5 fw-bold">SquadMate</span>
        </a>

        <div class="ms-auto">
            <div class="dropdown">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Options
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item text-danger" th:href="@{/logout}">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
